@import url("https://fonts.googleapis.com/css2?family=Comfortaa&family=Kaushan+Script&family=Oswald&display=swap");

:root {
  --primary-color: rgb(255, 92, 92);
  --primary-variant: #ff2d2d;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  /* text-align: center; */
  background-color: #e7e7e7;
  margin: 0;
}
/* section {
  text-align: center;
} */
/* h1 {
  font-family: Kaushan Script, sans-serif;
  font-size: 3.5em;
  margin-bottom: 0;
}
h3 {
  font-family: Oswald, sans-serif;
  font-size: 1.5em;
  margin-bottom: 0;
} */
